$table-header: #1976D2;
$table-header-border: #1565C0;
$table-border: #d9d9d9;
$row-bg: #f4f2f1;
$header-bg: #1565C0;

$primary: #f6f2f2;
$secondary: #ffffff;
$tertiary: #1565C0;
$quaternary: #c9c7c7;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

caption {
  display: none;
}

div {
  box-sizing: border-box;
}

.table-container {
  //display: block;
  margin: 1em auto;
  width: 100%;
  /*max-width: 600px;*/
  border-collapse: collapse;
}

.flag-icon {
  margin-right: 0.1em;
}

td {
  border: 1px solid $table-border;
  padding: 0.5em;
}

th {
  background: $header-bg;
  color: white;
  padding: 0.5em;
  border: 1px solid $table-header-border;
}


.flex-row {
  width: 20%;
}

.flex-row, .flex-cell {
  text-align: center;
}

@media only screen and (max-width: 767px) {

  .table-container {
    //display: block;
  }
  th, td {
    width: auto;
    display: block;
    border: 0;
  }

  th {
    border-left: solid 1px $table-header-border;
    border-right: solid 1px $table-header-border;
    border-bottom: solid 1px $table-header-border;
  }

  td {
    border-left: solid 1px $table-border;
    border-right: solid 1px $table-border;
    border-bottom: solid 1px $table-border;
  }

  .flex-row {
    width: 100%;
  }
}


/**
* Booking
*/
.container-booking {
  width: 1000px;
  padding-bottom: 30px;
  margin: 40px auto;
  background: $primary;
  border-radius: 10px;

  justify-content: center;

  h1 {
    margin: 0 auto 20px;
    text-align: center;
    color: $tertiary;
    background: $quaternary;
    border-radius: 10px 10px 0 0;

  }


  .flight-information {
    margin: 10px;
    h4 {
      color: $tertiary;
    }
    div {
      display: flex;
      label {
        width: 50%;
      }
    }
  }

  .passengers-information {
    margin: 10px;
    h4 {
      color: $tertiary;
    }
    * .passenger, .passenger {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      height: 41px;
      label:first-child {
        width: 2%;
        margin: 0;
        text-align: center;
      }
      label:not(:first-child) {
        margin: 0;
        width: 32%;
      }

      label {
        height: 41px;
        line-height: 41px;
      }

      .header {
        color: #ffffff;
        background: $tertiary;
      }

      input {
        width: 32%;

      }
    }

    * input[type="submit"] {
      margin-top: 30px;
    }
  }
}

/**
* Booking tickets
*/
.container-booking-tickets {
  width: 1200px;
  padding-bottom: 30px;
  margin: 40px auto;
  background: $primary;
  border-radius: 10px;
  h1 {
    margin: 0 auto 20px;
    text-align: center;
    color: $tertiary;
    background: $quaternary;
    border-radius: 10px 10px 0 0;
  }

  * .flex-row {
    width: 10%;
  }

}


/**
* Profile
*/
.container-profile {
  width: 500px;
  padding-bottom: 30px;
  margin: 40px auto;
  background: $primary;
  border-radius: 10px;

  h1 {
    margin: 0 auto 20px;
    text-align: center;
    color: $tertiary;
    background: $quaternary;
    border-radius: 10px 10px 0 0;
  }

  .container-profile-data {
    margin: 10px;
    div {
      label {
        display: block;
      }

      input {
        margin-bottom: 20px ;
        width: 306px;
      }
    }

    input[type="submit"] {
      margin-top: 10px;
    }

  }

}

/**
*  Flights
*/
.container-flight {
  width: 500px;
  padding-bottom: 30px;
  margin: 40px auto;
  background: $primary;
  border-radius: 10px;

  h1 {
    margin: 0 auto 20px;
    text-align: center;
    color: $tertiary;
    background: $quaternary;
    border-radius: 10px 10px 0 0;
  }

  .container-flight-data {
    margin: 10px;
    div {
      label {
        display: block;
      }

      input {
        margin-bottom: 20px ;
        width: 240px;
      }
    }

    input[type="submit"] {
      margin-top: 10px;
    }
  }

}


/**
*  Flight Dashboard
*/
.container-flight-dashboard {
  width: 1200px;
  padding-bottom: 30px;
  margin: 40px auto;
  background: $primary;
  border-radius: 10px;
  h1 {
    margin: 0 auto 20px;
    text-align: center;
    color: $tertiary;
    background: $quaternary;
    border-radius: 10px 10px 0 0;
  }

  * .flex-row {
    width: 10%;
  }

}
